@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.nobar::-webkit-scrollbar {
  display: none !important;
}

.scrollbar::-webkit-scrollbar {
  height: 0.5rem !important;
}

.scrollbar::-webkit-scrollbar-track {
  background: #7839c580;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: #7839c5cc;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7839c5cc;
}